@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-Regular.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 400;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 300;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-Light.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 300;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 500;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-Medium.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 500;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 600;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 600;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-SemiboldItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-Bold.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 700;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 800;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 800;
    src: local('SF UI Text'), url('https://fonts.cdnfonts.com/s/15008/SFUIText-HeavyItalic.woff') format('woff');
}

body {
    margin: 0;
    background: #F3F5F6;
    position: relative;
}

.container {
    width: 77.604vw!important;
    max-width: 77.604vw!important;
    display: block;
    margin: 0 auto;
}

.tc-wrapper .container {
    width: 69.219vw!important;
    max-width: 69.219vw!important;
}

header {
    background: #2A3042;
    width: 100vw;
    height: 6.302vw;
    position: fixed;
    top: 0;
    z-index: 5;
}

.nav {
    padding: 0 2.089vw 0 3.698vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.302vw;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 3.229vw;
    margin-right: 5.938vw;
}

.header .menu li button {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
    font-size: 1.042vw;
    line-height: 1.250vw;
    letter-spacing: 0.026vw;
    color: #717171;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 2.969vw;
    transition: 0.05s;
    -webkit-transition: 0.05s;
    -moz-transition: 0.05s;
    -ms-transition: 0.05s;
    -o-transition: 0.05s;
    background: transparent;
    border: none;
    cursor: pointer;
}

.header .menu li:last-child button {
    margin-right: 0;
}

.header .menu li button:hover {
    text-shadow: 0 0 0.042vw #CACACA, 0 0 0.042vw #CACACA;
    color: #CACACA;
}

.header .menu li button .icon {
    margin-right: 0.677vw;
    display: flex;
    fill: #626262;
}

.header .menu li:nth-child(1) button .icon {
    width: 0.521vw;
    height: 0.938vw;
}

.header .menu li:nth-child(2) button .icon {
    width: 1.042vw;
    height: 0.781vw;
}

.header .menu li:nth-child(3) button .icon {
    width: 1.042vw;
    height: 0.781vw;
}

.header .menu button:hover .icon {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    fill: #CACACA;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'HelveticaNeueCyr';
}

.nav-right a:first-child .icon {
    width: 1.250vw;
    height: 1.146vw;
}

.nav-right a:first-child {
    margin-right: 1.667vw
}

.nav-right a:first-child:hover .icon {
    fill: #CACACA;
}

.rank-info {
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.729vw;
}

.rank-info div:first-child {
    font-size: 0.729vw;
    line-height: 0.885vw;
    letter-spacing: 0.026vw;
    color: #717171;
}

.rank-info div:nth-child(2) {
    font-size: 0.625vw;
    line-height: 0.729vw;
    color: #D5511B;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info .user-name {
    font-style: normal;
    font-weight: normal;
    margin-left: 5px;
    font-size: 0.625vw;
    line-height: 0.729vw;
    color: #E6E6E6;
    margin-right: 0.536vw;
}


.tc-wrapper {
    font-family: 'SF UI Text';
    font-style: normal;
    padding-top: 10.885vw;
}

.tc-main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 4.583vw;
}

.tc-main-info-balance {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    display: flex;
    flex-direction: column;
    width: 13vw;
}

.tc-main-info-balance span:first-child {
    font-size: 1.563vw;
    line-height: 1.927vw;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.417vw;
    text-align: left;
}

.tc-main-info-balance span:last-child {
    font-weight: normal;
    font-size: 0.677vw;
    line-height: 0.833vw;
    color: #5B5A99;
    text-align: left;
}

.button {
    background: #3B5DE7;
    border: 0.052vw solid #3B5DE7;
    box-sizing: border-box;
    border-radius: 0.260vw;
    -webkit-border-radius: 0.260vw;
    -moz-border-radius: 0.260vw;
    -ms-border-radius: 0.260vw;
    -o-border-radius: 0.260vw;
    font-weight: bold;
    font-size: 0.729vw;
    line-height: 0.938vw;
    color: #fff;
    filter: drop-shadow(0 0.208vw 0.365vw rgba(0, 0, 0, 0.19));
    -webkit-filter: drop-shadow(0 0.208vw 0.365vw rgba(0, 0, 0, 0.19));
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.button:hover {
    background-color: #1b42e0;
    border-color: #1a3fd5;
}

.tc-main-info-stake-button button {
    width: 10.208vw;
    height: 3.177vw;
}

.tc-info-block {
    background: #FFFFFF;
    box-shadow: 0 0.625vw 1.250vw rgba(18, 38, 63, 0.03);
    border-radius: 0.208vw;
    -webkit-border-radius: 0.208vw;
    -moz-border-radius: 0.208vw;
    -ms-border-radius: 0.208vw;
    -o-border-radius: 0.208vw;
    width: 10.781vw;
    height: 5.625vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tc-info-block:last-child {
    width: 17.5vw;
}

.tc-main-info .tc-info-block span {
    padding-left: 1.123vw;
    text-align: left;
}

.tc-info-block span:first-child {
    font-size: 0.833vw;
    line-height: 1.250vw;
    color: #8687A7;
    margin-bottom: 0.677vw;
    text-align: left;
}

.tc-info-block span:last-child {
    font-size: 1.250vw;
    line-height: 1.094vw;
    color: #495057;
}

.tc-info-block:nth-child(4) span:last-child {
    color: #45CB85;
}

.tc-tables .tc-info-block {
    width: -webkit-fill-available;
    height: unset;
    margin-bottom: 2.188vw;
    padding: 1.042vw 2.084vw 2.084vw;
}

.tc-tables .tc-info-block span:last-child {
    font-size: 0.781vw;
    line-height: 0.938vw;
}

.tc-tables .tc-info-block span:first-child {
    margin-bottom: 1.302vw;
}

/*****TABLICA*****/
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg thead {
    border-top: 0.082vw solid #EFF2F7;
    border-bottom: 0.082vw solid #EFF2F7;
    border-width: 2px;
}

.tg td {
    border-style: solid;
    border-width: 0px;
    font-size: 0.729vw;
    line-height: 1.094vw;
    color: #8687A7;
    overflow: hidden;
    padding: 0.677vw 0;
    word-break: normal;
    text-align: center;
}
.tg td:first-child {
    text-align: center;
}

.tg th {
    border-width: 0px;
    font-size: 0.729vw;
    font-weight: normal;
    overflow: hidden;
    padding: 0.677vw 0;
    word-break: normal;
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
    color: #8687A7;
}

.tg .tg-0lax {
    vertical-align: top;
    color: #8687A7;
}

.tg-recent-activity .tg-0pky:first-child {
    width: 10%;
}

.tg-recent-activity .tg-0lax:last-child {
    width: 10%;
}

/********** WAVE EFFECT *********/
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    -o-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0);
    pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
    background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.waves-button,
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: none;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

.waves-button {
    padding: 0.85em 1.1em;
    border-radius: 0.2em;
}

.waves-button-input {
    margin: 0;
    padding: 0.85em 1.1em;
}

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
    padding: 0;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
}

.waves-float {
    -webkit-mask-image: none;
    -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.waves-float:active {
    -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
    display: block;
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.4);
}

.waves-effect.waves-primary .waves-ripple {
    background-color: rgba(59, 93, 231, 0.4);
}

.waves-effect.waves-success .waves-ripple {
    background-color: rgba(69, 203, 133, 0.4);
}

.waves-effect.waves-info .waves-ripple {
    background-color: rgba(12, 170, 220, 0.4);
}

.waves-effect.waves-warning .waves-ripple {
    background-color: rgba(238, 185, 2, 0.4);
}

.waves-effect.waves-danger .waves-ripple {
    background-color: rgba(255, 113, 91, 0.4);
}

.break {
    display: none;
}

/**** MENU ****/
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: flex;
    text-decoration: none;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #626262;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #626262;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.stake-case-faq-qa div:first-child {
    text-align: left;
}
.stake-case-faq-qa div:last-child {
    text-align: right;
}
.stake-case-amount, .stake-case-order-details {
    margin-left: 0;
    padding-bottom: 0;
}
.referal-rank-next .rank-info div:nth-child(2), .referal-rank .rank-info div:nth-child(2) {
    text-align: left;
}
.referal-downlines {
    position: relative
}
@media (min-width: 768px) {
    .header li {
        float: left;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}



/* mobile */
@media (max-width: 768px) {
    .break {
        flex-basis: 100%;
        height: 16px;
        display: flex;
    }
    header .container {
        width: 100%!important;
        max-width: 100%!important;
    }
    .nav {
        padding: 0 25px 0 26px;
    }

    header {
        height: 61px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header .menu {        
        position: absolute;
        top: 61px;
        left: 0;
        background: #fff;
        width: 100%;    
    }

    .header .menu li button {
        font-size: 13px;
        padding: 1.15rem 1.1rem;
        margin-right: 0;
    }

    .header .menu li button .icon {
        display: none;
    }

    .nav-left img {
        display: none;
    }

    .nav-right a:first-child {
        margin-right: 13px;
    }
    .nav-right a:first-child .icon {
        width: 17px;
        height: 16px;
    }
    .rank-info {
        margin-right: 10px;
    }
    .rank-info div:first-child {
        font-size: 9px;
        line-height: 11px;
        letter-spacing: 0.5px;
    }
    .rank-info div:nth-child(2) {
        font-size: 9px;
        line-height: 11px;
    }
    .user-info .user-avatar {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
    .user-info .user-name {
        margin-left: 5px;
        font-size: 10px;
        line-height: 12px;
    }
    .tc-wrapper {
        padding-top: 95px;
    }
    .tc-wrapper .container {
        width: -moz-available!important;          
        width: -webkit-fill-available!important; 
        width: fill-available!important;
        max-width: -moz-available!important;          
        max-width: -webkit-fill-available!important; 
        max-width: fill-available!important;
        padding-left: 30px;
        padding-right: 30px;
    }
    .tc-main-info {
        padding: 0 0 30px;
        flex-wrap: wrap;
    }
    .tc-main-info-balance span:first-child {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 1px;
    }
    .tc-main-info-balance span:last-child {
        font-size: 11px;
        line-height: 13px;
    }
    .tc-info-block {
        width: 47%;
        height: 72px;        
        box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.03);
        border-radius: 4px;
    }
    .tc-wrapper .tc-info-block:last-child {
        width: -moz-available;          
        width: -webkit-fill-available; 
        width: fill-available;
    }
    .tc-main-info-stake-button button {
        width: 149px;
        height: 43px;
    }
    .button {
        font-size: 12px;
        line-height: 18px;
        border: 1px solid #3B5DE7;
        border-radius: 3.2px;
        -webkit-border-radius: 3.2px;
        -moz-border-radius: 3.2px;
        -ms-border-radius: 3.2px;
        -o-border-radius: 3.2px;
        filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.19));
        -webkit-filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.19));
    }
    .tc-info-block span:first-child{
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 7px;
    }
    .tc-info-block span:last-child {
        font-size: 18px;
        line-height: 21px;
    }
    .tc-main-info .tc-info-block span {
        padding-left: 15px;
    }

    .tc-tables .tc-info-block {
        padding: 20px 15px 40px;
        margin-bottom: 11px;
    }
    .tc-tables .tc-info-block span:first-child {
        margin-bottom: 15px;
    }    
    .tg-scrollable-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .tg-scrollable-table tbody {
        width: 100%;
        text-align: center;
    }
    .tg thead {
        border-top: 1px solid #EFF2F7;
        border-bottom: 1px solid #EFF2F7;
    }
    .tg th {
        font-size: 11px;
        line-height: 21px;
        font-weight: normal;
        overflow: hidden;
        padding: 5px 10px;
    }
    .tg th:first-child {
        padding: 5px 10px 5px 0;
    }
    .tg td {
        font-size: 11px;
        line-height: 21px;
        padding: 5px 10px;
    }

}

/**iphone5**/
@media screen and (device-aspect-ratio: 40/71) {
    .tc-main-info-stake-button button {
        width: 120px;
    }
}



/********* INVITE *******/
.invite-info {
    width: 0.573vw;
    height: 0.573vw;
    margin-left: 0.3vw;
}
.tc-invite-main-info .tc-main-info-balance {
    font-family: SF UI Text;
    margin-right: 1.8vw;
    width: unset;
}
.tc-invite-main-info .tc-main-info-balance span:first-child {
    font-size: 1.250vw;
    line-height: 1.510vw;
}
.tc-invite-main-info .tc-main-info-balance span:last-child{
    font-size: 0.938vw;
    line-height: 1.094vw;
    width: 38.281vw;
}
.tc-invite-main-info .tc-info-block:nth-child(3) {
    margin-right: 1vw;
}
.tc-invite-main-info .tc-info-block:nth-child(4) span:last-child {
    color: inherit;
}

.tc-invite-main-info .tc-info-block {
    width: 13.281vw;
}
.tc-invite-main-info {
    padding: 0 0 1.563vw;
}
.tc-invite-referal {
    background: #FFFFFF;
    box-shadow: 0 0.625vw 1.250vw rgba(18, 38, 63, 0.03);
    border-radius: 0.208vw;
    -webkit-border-radius: 0.208vw;
    -moz-border-radius: 0.208vw;
    -ms-border-radius: 0.208vw;
    -o-border-radius: 0.208vw;
    padding: 1.615vw 1.302vw 2.188vw;
    margin-bottom: 2.083vw;
    display: flex;
    flex-direction: column;
}
.referal-title{
    font-size: 0.833vw;
    line-height: 0.990vw;
    margin-bottom: 0.677vw;
    text-align: left;
}
.referal-progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.146vw;
}
.referal-rank .rank-info div:first-child, .referal-rank-next .rank-info div:first-child {
    font-size: 0.729vw;
    line-height: 1.094vw;
    letter-spacing: unset;
    color: #BDBDBE;
    margin-bottom: 0.208vw;
}
.referal-rank .rank-info div:nth-child(2), .referal-rank-next .rank-info div:nth-child(2) {
    font-family: HelveticaNeueCyr;
    font-size: 0.625vw;
    line-height: 0.729vw;
    color: #D5511B;
}
.referal-rank {
    width: 7.5vw
}
.referal-rank-next {
    width: 4.5vw
}
.referal-rank-next .rank-info {
    margin-right: 0;
}
.referal-rank .rank-info {
    align-items: flex-start;
}
.referal-progress-line {
    width: 55.885vw;
}
.progress {
    width: 100%;
    height: 0.938vw;
  }
.progress-wrap {
    background:  #F6F6F6;
    border-radius: 0.208vw;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 0.208vw;
    -moz-border-radius: 0.208vw;
    -ms-border-radius: 0.208vw;
    -o-border-radius: 0.208vw;
}
.progress-wrap .progress-bar {
    background: #3b5de7;
    left: 0;
    position: absolute;
    top: 0;
}

.referal-downlines {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.833vw;
    line-height: 0.990vw;
    margin-bottom: 1.667vw;
}
.referal-downlines div:first-child {
    margin-right: 1.094vw;
}
.referal-downlines-icon {
    width: 1.250vw;
    height: 1.250vw;
}
.referal-downlines div:last-child {
    margin-left: 0.547vw;
}
.referal-link-copy {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.885vw 0 0.885vw 0.990vw;
    border: 0.052vw solid #CED4DA;
    border-radius: 0.208vw;
    -webkit-border-radius: 0.208vw;
    -moz-border-radius: 0.208vw;
    -ms-border-radius: 0.208vw;
    -o-border-radius: 0.208vw;
    font-size: 0.833vw;
    line-height: 0.938vw;
}
.referal-link-copy div:first-child {    
    color: #495057;
    margin-right: 1.667vw;
    border-style: none;
}
#copy-referal-link {
    color: #8687A7;
    width: 80%;
    border-style: hidden;
    text-align: left;
}
.referal-button {
    background: #3B5DE7;
    border: 0.052vw solid #3B5DE7;
    border-radius: 0.167vw;
    -webkit-border-radius: 0.167vw;
    -moz-border-radius: 0.167vw;
    -ms-border-radius: 0.167vw;
    -o-border-radius: 0.167vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.625vw;
    line-height: 0.938vw;
    color: #fff;
    padding: 0.339vw 1.406vw;
    font-weight: unset;    
}
.referal-button:hover {
    font-size: 0.625vw;
    line-height: 0.938vw;
    background-color: #1b42e0;
    border-color: #1a3fd5;
    color: #fff;
    font-weight: unset;
    border: 0.052vw solid #3B5DE7;
}
.referal-link-copy .referal-button {
    position: absolute;
    right: 0.677vw;
}
.tc-tables-referal {
    position: relative;
}
.tc-tables-referal .referal-button {
    margin: 0 auto;
}
.tc-tables-referal .activated {
    color: #45CB85!important;
    font-weight: 600;
}
.tc-tables-referal .tc-info-block {
    padding: 1.406vw 1.510vw;
}
.tc-tables-referal .tc-info-block span:first-child {
    font-weight: 600;
    color: #495057;
}
.tc-tables-referal .tg th {
    font-weight: bold;
    vertical-align: middle;
}
.tg .tg-0pky {
    width: 3.125vw;
    text-align: center;
}
.tc-tables-referal .tg td:first-child {
    text-align: center;
}
.tc-tables-referal-middle-column {
    width: 15vw;
}
.tc-tables-referal-last-column {
    width: 10vw!important;
}
.tc-tables-referal tr td {
    height: 1.8vw;
    vertical-align: middle!important;
}
.tc-tables-referal tr {
    border-bottom: 1px solid #EFF2F7;
}
.tc-tables-referal tr:last-child {
    border-bottom: none;
}
.tc-tables-referal-activate-info {
    font-size: 0.625vw;
    line-height: 0.938vw;
    color: #60666C;
    position: absolute;
    top: 1.406vw;
    right: 1.406vw;
}
/* mobile referals */
@media (max-width: 768px) {
    .tc-main-info-balance {
        width: unset;
        max-width: 50%;    
    }
    .tc-invite-main-info .tc-main-info-balance {
        max-width: 100%;
    }
    .tc-invite-main-info .tc-main-info-balance {
        margin-right: 0;
    }
    .tc-invite-main-info .tc-main-info-balance span:first-child {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 12px;
    }
    .tc-invite-main-info .tc-main-info-balance span:last-child {
        width: 100%;
        font-size: 13px;
        line-height: 16px;
    }
    .tc-invite-main-info .tc-info-block {
        width: 47%;
    }
    .invite-info {
        width: 8px;
        height: 8px;
    }
    .tc-invite-referal {
        box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.03);
        border-radius: 4px;
        padding: 21px 11px 12px;
        margin-bottom: 22px;
    }
    .referal-title {
        font-size: 12px;
        line-height: 14px;
    }
    .referal-rank {
        width: 90px;
    }
    .referal-rank-next {
        width: 40px;
    }
    .referal-progress-line {
        width: 57%;
    }
    .referal-progress {
        margin-bottom: 12px
    }
    .referal-rank .rank-info div:first-child, .referal-rank-next .rank-info div:first-child {
        font-size: 8px;
        line-height: 12px;
    }
    .referal-rank .rank-info div:nth-child(2), .referal-rank-next .rank-info div:nth-child(2) {
        font-size: 8px;
        line-height: 10px;
    }
    .progress {
        height: 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    .referal-downlines {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 15px;
    }
    .referal-downlines-icon {
        width: 10px;
        height: 10px;
    }
    .referal-downlines div:first-child {
        margin-right: 9px;
    }
    .referal-downlines div:last-child {
        margin-left: 8px;
    }
    .referal-link-copy {
        border: 1px solid #CED4DA;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        padding: 2px 0 2px 7px;
        font-size: 10px;
        line-height: 18px;
    }
    .referal-link-copy div:first-child {
        margin-right: 5px;
    }
    #copy-referal-link {
        border-style: hidden;
        outline: none;
        width: 75%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .referal-button {
        border: 1px solid #3B5DE7;
        border-radius: 3.2px;
        font-size: 6px;
        line-height: 12px;
    }
    .referal-link-copy .referal-button {
        right: 7px;
    }
    .tc-tables-referal .tc-info-block {
        padding: 14px 13px;
    }
    .tc-tables-referal-activate-info {
        display: none;
    }
    .tc-tables .tc-info-block span:last-child {
        font-size: 10px;
        line-height: 16px;
    }
    
}

/***** STAKE BLOCK *****/
.stake-case-amount, .stake-case-order-details {
    width: 34.896vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.625vw 1.250vw rgba(18, 38, 63, 0.03);
    border-radius: 0.208vw;
    -webkit-border-radius: 0.208vw;
    -moz-border-radius: 0.208vw;
    -ms-border-radius: 0.208vw;
    -o-border-radius: 0.208vw;
    margin-bottom: 4.531vw;
    margin-left: 2vw;
    padding-bottom: 5vh;
}
.stake-case {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -1.667vw;
    margin-right: -1.667vw;
}
.stake-case-header {
    font-weight: 600;
    font-size: 1.563vw;
    line-height: 1.875vw;
    text-align: center;
    display: block;
    margin-bottom: 1.458vw;
    font-family: HelveticaNeueCyr;
}
.stake-case-amount .stake-case-pd{
    padding: 2.188vw 2.344vw 2.031vw;
}
.stake-case-input {
    margin-bottom: 1.406vw
}
.stake-case-input span:first-child{
    font-size: 0.938vw;
    line-height: 1.094vw;
    color: #8687A7;
    margin-bottom: 0.417vw;
    display: block;
}
.stake-case-input .description {
    font-size: 0.625vw;
    line-height: 1.094vw;
    color: #000000;
}
.stake-case-input .description div {
    color: #45CB85;
    display: inline;
}
.stake-case-input div {
    position: relative;
}
.stake-case-input div input {
    border: 0.052vw solid #CED4DA;
    box-sizing: border-box;
    border-radius: 0.208vw;
    -webkit-border-radius: 0.208vw;
    -moz-border-radius: 0.208vw;
    -ms-border-radius: 0.208vw;
    -o-border-radius: 0.208vw;
    font-size: 0.833vw;
    line-height: 0.938vw;
    color: #495057;
    height: 2.813vw;
    padding: 0 0 0 1.510vw;
    width: 100%;

}
.stake-case-input div .input-button {
    position: absolute;
    background: #3B5DE7;
    right: 0.677vw;
    top: 0.573vw;
    width: 4.583vw;
    height: 1.667vw;
    font-weight: bold;
    font-size: 0.625vw;
    line-height: 0.938vw;
    color: #fff;
    border: 0.052vw solid #3B5DE7;
    box-sizing: border-box;
    border-radius: 0.167vw;
    -webkit-border-radius: 0.167vw;
    -moz-border-radius: 0.167vw;
    -ms-border-radius: 0.167vw;
    -o-border-radius: 0.167vw;
    padding: 0;
}
#stake-case-button {
    width: 100%;
    background: #3B5DE7;
    margin-top: 0.729vw;
    color: #fff;
    font-size: 0.729vw;
    line-height: 0.938vw;
    height: 3.177vw;
}
.stake-case-order-details .stake-case-pd {
    padding: 2.604vw 4.115vw 0 3.802vw;
}
.stake-case-order-details-info {
    width: 0.521vw;
    height: 0.521vw;
    margin-left: 0.3vw;
}
.stake-case-order-details .stake-case-header {    
    margin-bottom: 2.865vw;
}
.stake-case-order-details-rewards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.865vw;
}
.stake-case-order-details-rewards:last-child {
    margin-bottom: 0;
}
.stake-case-order-details div span {
    font-size: 0.938vw;
    line-height: 0.938vw;
    color: #495057;
}
.stake-case-order-details div span:last-child {
    color: #45CB85;
}
.stake-case-faq-header {
    font-weight: 600;
    font-size: 1.563vw;
    line-height: 1.875vw;
    color: #000;
    margin-bottom: 2.656vw;
    display: block;
    text-align: center;
}
.stake-case-faq-qa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.stake-case-faq-qa div{
    margin-bottom: 2.500vw
}
.stake-case-faq-qa div:first-child {
    text-align: center;
}
.stake-case-faq-qa div:last-child {
    text-align: center;
}
.stake-case-faq-qa div span {
    display: block;
    font-weight: 600;
    font-size: 1.354vw;
    line-height: 1.615vw;
    color: #545B61;
}
.stake-case-faq-qa div span:last-child {
    font-weight: normal;
    font-size: 1.042vw;
    line-height: 1.250vw;
    color: #8687A7;
    margin-top: 0.781vw;
}

@media (max-width: 768px) {
    .stake-case {
        flex-direction: column;
        margin-left: -12px;
        margin-right: -12px;
        margin-top: -15px;
        height: 560px;
        position: relative;
        box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.03);
        border-radius: 4px;
        background: #fff;
        justify-content: unset;
    }
    #stake-case-button {
        position: absolute;
        bottom: 21px;
        font-size: 10px;
        line-height: 1;
        height: 31px;
        margin-top: 0;
        border: 1px solid #3B5DE7;
        border-radius: 3.2px;
        left: 0px;
        right: 0px;
        width: 92%;
        margin: 0 auto;
    }
    .stake-case-amount, .stake-case-order-details {
        width: 100%;
        height: unset;
    }
    .stake-case-header {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 28px;
    }
    .stake-case-amount .stake-case-pd {
        padding: 24px 15px 0;
    }
    .stake-case-input span:first-child {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 2px;
    }
    .stake-case-input div input {
        border: 1px solid #CED4DA;
        border-radius: 4px;
        height: 34px;
        font-size: 13px;
        line-height: 18px;
        padding-left: 11px;
    }
    .stake-case-input div .input-button {
        right: 8px;
        top: 7px;
        width: 58px;
        height: 21.09px;
        font-weight: bold;
        font-size: 9px;
        line-height: 18px;
        border: 1px solid #3B5DE7;
        border-radius: 3.2px;
        -webkit-border-radius: 3.2px;
        -moz-border-radius: 3.2px;
        -ms-border-radius: 3.2px;
        -o-border-radius: 3.2px;
    }
    .stake-case-input .description {
        font-size: 10px;
        line-height: 21px;
    }
    .stake-case-input {
        margin-bottom: 13px;
    }
    .stake-case-amount, .stake-case-order-details {
        background: transparent;
        box-shadow: none;
        border: none;
    }
    .stake-case-order-details .stake-case-header {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 20px;
    }
    .stake-case-order-details div span {
        font-size: 12px;
        line-height: 18px;
    }
    .stake-case-order-details-rewards {
        margin-bottom: 20px;
    }
    .stake-case-order-details-info {
        width: 8px;
        height: 8px;
    }
    .stake-case-faq {
        background: #FFFFFF;
        box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.03);
        border-radius: 4px;
        margin-left: -12px;
        margin-right: -12px;
        margin-top: 30px;
        padding: 26px 23px 60px;
        margin-bottom: 30px;

    }
    .stake-case-faq-header {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 27px;
    }
    .stake-case-faq-qa {
        flex-direction: column;
    }
    .stake-case-faq-qa div {
        margin-bottom: 18px;
    }
    .stake-case-faq-qa div:last-child {
        text-align: left;
    }
    .stake-case-faq-qa div span {
        font-size: 13px;
        line-height: 16px;
    }
    .stake-case-faq-qa div span:last-child {
        font-size: 12px;
        line-height: 14px;
        margin-top: 6px;
    }
}

.button {
    background-position: center!important;
    transition: background 0.8s!important;
}
.button:hover {
    background: #1b42e0 radial-gradient(circle, transparent 1%, #1b42e0 1%) center/15000%!important;
}
.button:active {
    background-color: #6276c7!important;
    background-size: 100%!important;
    transition: background 0s!important;
}


.stake-case-faq-qa div:first-child {
    text-align: left;
}
.stake-case-faq-qa div:last-child {
    text-align: right;
}
.referal-rank-next .rank-info div:nth-child(2), .referal-rank .rank-info div:nth-child(2) {
    text-align: left;
}
.referal-downlines {
    position: relative
}
@media (max-width: 768px) {
    .stake-case-amount, .stake-case-order-details {
        margin-left: 0;
        padding-bottom: 0;
        width: 100%;
    }
    .stake-case-faq-qa div:last-child {
        text-align: left;
    }
}